.idea/
vendor/
.DS_Store

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wordpress-core/

# Log files
*.log

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# Content: Uploads and themes
# Add ! for files and dir to commit
website/app/*
!website/app/languages
!website/app/themes/
!website/app/advanced-cache.php
!website/app/object-cache.php
website/app/themes/parabola

#Plugins to ignore
!website/app/plugins/
website/app/plugins/bknewsticker
website/app/plugins/shareaholic
website/app/plugins/cryout-theme-settings
website/app/plugins/instagram-feed
website/app/plugins/simple-social-icons
website/app/plugins/wp-super-cache
website/app/plugins/wpforms-lite
website/app/plugins/wptouch
website/app/plugins/tinymce-advanced
website/app/plugins/wordpress-seo
website/app/plugins/yet-another-related-posts-plugin

# Global gitignore setup
website/.env
.bundle/
*.retry
.vscode/
.phpunit.result.cache
tags

# Database exports
exports/*
!exports/.gitkeep

# Node modules
node_modules/
